body{
    color:white;
    font-family: 'Times New Roman', Times, serif;
}


#fejlec h1{
font-size: 500%;
padding: 35px;
text-align: center;



}

.bg-image{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

p{
    font-size: 120%;
}

#szoveg{
    font-style: italic;
}

.carousel-inner img {
    width: 20%;
    height: 30%;
}

.footer {
    height: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:rgb(102, 187, 218);
    text-align: center;
}

.footer a {
    color: beige;
    font-weight: bold;
}

.footer a:hover{
    color: palevioletred;
    text-decoration: none;
}